<div class="container w-50 p-4 mt-2 bg-secondary rounded-4">
<h3 class="mb-3 text-white">List Of Products</h3>
<table class="table table-striped">
  <tbody id="listProducts" class="table-dark">
  </tbody>
</table>
</div>